* {
     margin: 0;
     padding: 0;
}

h4 {
     color: #ff0000;
     font-weight: bold;
     font-family: Century Gothic;
     font-size: 25px;
     line-height: 20px;

}

p {
     font-weight: bold;
     margin-top: 0;
     font-family: Century Gothic;
     font-size: 18px;
     line-height: 10px;
}

.header {
     height: 100vh;
     font-family: Century Gothic;
     font-size: 17px;

}

.navbar-style {
     box-shadow: 0 5px 10px #efefef;
}

.logo {
     height: 50px;
     padding: 2px 12px;
     margin-left: 0px;
}

.icon-bar {
     background-color: #efefef;
}

nav {
     background-color: rgb(30, 30, 117);
}

nav ul li a {
     color: #ffff;
     margin-left: 5px;
     padding: 20px;
     transition: 1ms;
}